body{

font-family:Arial,Helvetica,sans-serif;

background:#071b36;

color:white;

display:flex;

justify-content:center;

padding:40px;

}

.container{

width:900px;

background:#0d2c57;

padding:30px;

border-radius:12px;

}

h1{

margin-bottom:30px;

}

.painel{

display:flex;

justify-content:space-between;

gap:40px;

margin-bottom:30px;

}

.bloco{

flex:1;

}

.contador{

display:flex;

align-items:center;

margin-top:15px;

}

.contador button{

width:40px;

height:40px;

font-size:22px;

background:#005eff;

border:none;

color:white;

cursor:pointer;

}

.contador span{

width:60px;

text-align:center;

font-size:22px;

background:#123b72;

padding:10px;

}

label{

display:block;

margin:10px 0;

}

.barra{

width:220px;

height:20px;

background:#27496d;

}

#forca{

height:100%;

width:20%;

background:red;

transition:.3s;

}

.senha{

background:#123b72;

padding:20px;

font-size:24px;

letter-spacing:2px;

margin-bottom:20px;

word-break:break-all;

}

button#gerar{

margin-top:20px;

padding:15px 40px;

font-size:18px;

background:#00b894;

color:white;

border:none;

cursor:pointer;

border-radius:8px;

}

button:hover{

opacity:.9;

}